<%= render 'shared/header' %>
<h1 class="Lindex-title"><%= @user.name%>'s Predictions</h1>


<div class="matches-container">
    <% if @scored_predictions.any? %>
        <% @scored_predictions.each do |prediction| %>
        <% match_class = case prediction.points_awarded
                            when 3 then "match correct"
                            when 1 then "match close"
                            when 0 then "match incorrect"
                            else "match"
                        end %>
        <div class="<%= match_class %>">
            <%= team_logo(prediction.match.home, prediction.match.home_crest) %>
            <h3 class="team"><%= prediction.match.home %></h3>
            <p class="score"><%= prediction.home_score %> - <%= prediction.away_score %></p>
            <h3 class="team"><%= prediction.match.away %></h3>
            <%= team_logo(prediction.match.home, prediction.match.away_crest) %>
        </div>
        <% end %>
    <% else %>
        <p>Doesn't Have any scored predictions yet.</p>
    <% end %>
</div>