<%= render "shared/header" %>

<h1 class="Lindex-title">My Leagues</h1>
<%= turbo_frame_tag "leagues_frame" do %>
  <div class="league-form-container">
    <div class="new-form"><%= render "form", league: League.new %></div>
    <div class="new-form"><%= render "join_form" %></div>
  </div>
  <div class="leagues-container">
    <% unless @leagues.empty? %>
      <div class="league-header">
        <div class="league-name"><strong>League Name</strong></div>
        <div class="league-points"><strong>Points</strong></div>
        <div class="league-members"><strong>Rank</strong></div>
      </div>

      <% @leagues.each do |league| %>
        <div class="league">
          <div class="league-name">
            <%= link_to league.name, my_league_path(league) %>
          </div>
          
          <div class="league-points">
            <% if (membership = @memberships_by_league[league.id]) %>
              <%= membership.points %> <% end %>
          </div>

          <div class="league-members">
            <% if (rank = @ranks_by_league[league.id]) %>
              <%= rank %> <% else %>
              —
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>