<%= render "shared/header" %>

<h1 class="Lindex-title">My Leagues</h1>
<%= turbo_frame_tag "leagues_frame" do %>
  <div class="new-form"><%= render "form", league: League.new %></div>
  <div class="leagues-container">
    <% unless @leagues.empty? %>
      <% @leagues.each do |league| %>
        <div class="league">
          <div class="league-name"><%= link_to league.name, my_league_path(league) %></div>
          <div class="league-points">
            <% if (membership = @memberships_by_league[league.id]) %>
              <%= membership.points %> points
            <% end %>
          </div>
          <div class="league-members"><%= league.league_memberships.count%> Members</div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>