<%= render "shared/header" %>
<h1 class="Lindex-title">Create a league</h1>

<div class="new-form">
    <%= form_with model: @league, url: my_leagues_path, local: true do |f| %>
    
        <%= f.label :name, "League Name" %>
        <%= f.text_field :name, class: "name-input" %>
    
    
    
        <%= f.submit "Create League", class: "create-league" %>
    
    <% end %>
</div>


