<%= render "shared/header" %>
<h1 class="Mindex-title">Matches</h1>

<div class="match-filter-buttons">
  <%= link_to "Upcoming", root_path(match_type: "upcoming"), class: "upcoming-matches-button" %>
  <%= link_to "Results", root_path(match_type: "finished"), class: "finished-matches-button" %>
  <%= link_to "Predictions", my_predictions_path, class: "predictions-button" %>
</div>

<div class="matches-container">
  <% if params[:match_type] == 'finished' %>
    <% @finished_matches.each do |match| %>
      <div class="match">
        <%= team_logo(match.home) %>
        <h3 class="team"><%= match.home %></h3>
        <p class="score"><%= match.home_goals %> - <%= match.away_goals %></p>
        <h3 class="team"><%= match.away %></h3>
        <%= team_logo(match.away) %>
      </div>
    <% end %>
  <% else %>
    <% @upcoming_matches.each do |match| %>
      <%= turbo_frame_tag dom_id(match, :frame) do %>
        <% if user_signed_in? %>
          <%= link_to new_match_prediction_path(match), class: "match-link", data: { turbo_frame: dom_id(match, :frame) } do %>
            <div class="match">
              <%= team_logo(match.home) %>
              <h3 class="team"><%= match.home %></h3>
              <p class="date"><%= match.scheduled_at.strftime("%b %d, %Y") %></p>
              <h3 class="team"><%= match.away %></h3>
              <%= team_logo(match.away) %>
            </div>
          <% end %>
        <% else %>
          <div class="match disabled">
            <%= team_logo(match.home) %>
            <h3 class="team"><%= match.home %></h3>
            <p class="date"><%= match.scheduled_at.strftime("%b %d, %Y") %></br>Sign in to predict</p>
            <h3 class="team"><%= match.away %></h3>
            <%= team_logo(match.away) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="pagination">
  <% if params[:match_type] == 'finished' %>
    <%= paginate @finished_matches %>
  <% else %>
    <%= paginate @upcoming_matches %>
  <% end %>
</div>

