<%= render "shared/header" %>
<h1 class="Mindex-title">Matches</h1>

<div class="match-filter-buttons">
  <%= link_to "Upcoming", root_path(match_type: "upcoming"), class: "upcoming-matches-button" %>
  <%= link_to "Results", root_path(match_type: "finished"), class: "finished-matches-button" %>
  <%= link_to "Predictions", my_predictions_path, class: "predictions-button" %>
</div>

<div class="matches-container">
  <% if params[:match_type] == 'finished' %>
    <%= render partial: "finished_matches", collection: @finished_matches, as: :match %>
  <% elsif @upcoming_matches.empty? %>
      <h3 class="Mindex-title">Season Over, new season fixtures yet to be announced</h3>
    <%= render partial: "finished_matches", collection: @finished_matches, as: :match %>
  <% else %>
    <%= render partial: "upcoming_matches", collection: @upcoming_matches, as: :match %>
  <% end %>
</div>

<div class="pagination">
  <% if params[:match_type] == 'finished' %>
    <%= paginate @finished_matches %>
  <% elsif @upcoming_matches.empty? %>
    <%= paginate @finished_matches %>
  <% else %>
    <%= paginate @upcoming_matches %>
  <% end %>
</div>

