<%= render "shared/header" %>
<h1 class="Mindex-title">Upcoming Matches</h1>

<div class="matches-container">
  <% @matches.each do |match| %>
    <div class="match">
      <%= team_logo(match.home) %>
      <h3 class="team"><%= match.home %></h3>
      <p class="date"><%= match.scheduled_at.strftime("%b %d, %Y") %></p>
      <h3 class="team"><%= match.away %></h3>
      <%= team_logo(match.away) %>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @matches %>
</div>
